<div class="background">
    <div class="login">

        <!-- logo -->
        <div class="logo">

        </div>

        <!-- Username -->
        <!-- <nz-input-group class="input-login" [nzSize]="'large'" [nzAddOnBefore]="usericon">
            <input nz-input name="username" type="text" placeholder="Username" [(ngModel)]="loginUserData.email"/>
            <ng-template #usericon>
                <div>
                    <i class="fas fa-user"></i>
                </div>
            </ng-template>
        </nz-input-group> -->
        
        <!-- Email -->
        <nz-input-group class="input-login" [nzSize]="'large'" [nzAddOnBefore]="usericon">
            <input nz-input name="email" type="email" placeholder="Email" [(ngModel)]="loginUserData.email"/>
            <ng-template #usericon>
                <div>
                    <i class="fas fa-user"></i>
                </div>
            </ng-template>
        </nz-input-group>

        <!-- Password -->
        <nz-input-group [nzSize]="'large'" [nzAddOnBefore]="password">
            <input nz-input name="password" type="password" placeholder="Password" [(ngModel)]="loginUserData.password"/>
        </nz-input-group>
        <ng-template #password>
            <div>
                <i class="fas fa-lock"></i>
            </div>
        </ng-template>

        <!-- Login Button -->
        <button nz-button nzType="default" (click)="login()" style="
            background-color: #001529;
            color: white;">
            Login</button>

    </div>
</div>